---
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>Angelo's Links</title>
    <slot name='meta-tags'>
      <meta
        name='description'
        content='A software engineer and a community manager based in Indonesia'
      />
      <meta property='og:url' content='https://links.angelo.fyi' />
      <meta property='og:type' content='website' />
      <meta name='theme-color' content='#1e40af' />
    </slot>
  </head>
  <body class='bg-neutral-50 dark:bg-neutral-900'>
    <slot />
  </body>
</html>
